
table
{
	border:solid 1pt black;
	border-collapse:collapse;
	width:40%;
	height:80%;
	text-align:center;
}
td
{
	border:solid 1pt black;
}

.blackSquare {background-color: black;}
.whiteSquare {background-color: white;}
.player2
{
	display:inline-block;
	background-color:green;
	width:50%;
	height:50%;
	border-radius:50px;
	
}
.player1
{
	display:inline-block;
	background-color:red;
	width:50%;
	height:50%;
	border-radius:50px;


	
}


#cop
{
color:red;
}



